{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
    <div class="row pt-4">
        <div class="col-md-6 offset-md-3">
            <div class="card text-white" id="login-card">
                <div class="card-body">
                     {% if message %}
                         <div class="alert alert-danger text-center" role="alert">
                             {{ message }}
                         </div>
                     {% endif %}
                    <h4 class="card-title">Login</h4>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                            <label for="{{ field.id_for_label }}" class="form-label">
                                {{ field.label }}:
                            </label>
                            {{ field|attr:"class:form-control"|attr:"rows:4" }}
                        {% endfor %}
                        <div class="text-end">
                            <input type="submit"
                                   value="LOGIN"
                                   id="login-button"
                                   class="btn mt-3 ps-4 pe-5">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
